<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách Môn</title>
  <th:block th:replace="layout::link-css"></th:block>
  <link rel="stylesheet" href="search.css">
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
  <h2>Danh sách Môn</h2>
  <div id="abc">
    <a class="btn btn-primary" href="/monhoc/add">Thêm mới</a>
    <div class = "search">
      <form id="search-box"  th:action="@{/monhoc/timkiem}" th:object="${dsMonHoc}">
        <button id="search-btn"><img src="https://tse2.mm.bing.net/th?id=OIP.xzPEY661ToNuT_i1huu5CwHaHa&pid=Api&P=0&h=220" width="30px" /></button>
        <input name="key" class="search-text" type="text" id="search-text" placeholder="Bạn muốn tìm gì?" required />
      </form>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Mã Môn </th>
      <th>Tên Môn</th>
      <th style="padding-left:350px">Chức năng</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="monhoc : ${dsMonHoc}">
      <td th:text="${monhoc.maMon}"></td>
      <td th:text="${monhoc.tenMon}"></td>
      <td>
        <a th:href="@{/monhoc/edit/{id}(id=${monhoc.maMon})}" class="btn btn-warning" style="margin-left:280px">Sửa</a>
        <a th:href="@{/monhoc/delete/{id}(id=${monhoc.maMon})}" onclick="return confirm ('Bạn có muốn xoá?')" class="btn btn-danger"style="margin-left:20px">Xoá</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>

