<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Sinh Viên</title>
    <th:block th:replace="layout::link-css"></th:block>
    <link rel="stylesheet" href="search.css">
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h2>Danh sách Sinh Viên</h2>
    <div id="abc">
        <a class="btn btn-primary" href="/sinhvien/add">Thêm mới</a>
        <div class = "search">
            <form id="search-box" th:action="@{/sinhvien/timkiem}" th:object="${dsSv}">
                <button id="search-btn"><img src="https://tse2.mm.bing.net/th?id=OIP.xzPEY661ToNuT_i1huu5CwHaHa&pid=Api&P=0&h=220" width="30px" /></button>
                <input name="key" class="search-text" type="text" id="search-text" placeholder="Bạn muốn tìm gì?" required />
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Mã Số Sinh Viên</th>
            <th>Tên Sinh Viên</th>
            <th>Ngày Sinh</th>
            <th>Email</th>
            <th>Mã Lớp</th>
            <th>Môn Học</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sinhvien : ${dsSv}">
            <td th:text="${sinhvien.mssv}"></td>
            <td th:text="${sinhvien.hoTen}"></td>
            <td th:text="${sinhvien.ngaySinh}"></td>
            <td th:text="${sinhvien.email}"></td>

            <td th:text="${sinhvien.lop.tenLop}"></td>
            <td th:text="xx"> </td>

            <td>
                    <a th:href="@{/sinhvien/edit/{id}(id=${sinhvien.mssv})}" class="btn btn-warning">Sửa</a>

                <a th:href="@{/sinhvien/delete/{id}(id=${sinhvien.mssv})}" onclick="return confirm ('Bạn có muốn xoá?')" class="btn btn-danger">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>

